process {

    withName: '.*DEEPVARIANT_RUNDEEPVARIANT.*' {
        cpus = 1
    }

    withName: '.*GATK4_HAPLOTYPECALLER.*' {
        cpus = 1
    }

    withName: '.*STRELKA_SINGLE.*' {
        cpus = 6
    }

    withName: 'NFCORE_SAREK:SAREK:BAM_VARIANT_CALLING_GERMLINE_ALL:BAM_VARIANT_CALLING_GERMLINE_MANTA:MANTA_GERMLINE' {
        // mean 95min
        cpus = 6
        time = 3.h
    }

    withName: 'NFCORE_SAREK:SAREK:BAM_VARIANT_CALLING_GERMLINE_ALL:BAM_VARIANT_CALLING_SINGLE_TIDDIT:TIDDIT_SV' {
        // mean 38min
        cpus = 6
    }

    // INDEXCOV ~ 11min

    withName: '.*CNVKIT_BATCH.*' {
        // p50 34min - matches, no change.
        cpus = 2
    }

    withName: 'NFCORE_SAREK:SAREK:CRAM_TO_BAM' {
        // mean 6.5h
        cpus = 2
        time = 24.h
    }

    withName: 'NFCORE_SAREK:SAREK:CRAM_SAMPLEQC:CRAM_QC_RECAL:SAMTOOLS_STATS' {
        // Typical 25-33min
        time = 24.h
    }
}