process {

    maxForks = 1

    withName: '.*DEEPVARIANT_RUNDEEPVARIANT.*' {
        cpus = 1
    }

    withName: '.*GATK4_HAPLOTYPECALLER.*' {
        cpus = 1
    }

    withName: '.*STRELKA_SINGLE.*' {
        cpus = 1
    }

    withName: '.*CNVKIT_BATCH.*' {
        cpus = 2
    }

    withName: '.*TIDDIT_SV.*' {
        cpus = 2
    }
}

executor {
    queueSize = 1
}